version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "hourly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "hourly"