language: go
sudo: required

services:
  - docker

go:
  - 1.2
  - 1.3
  - 1.4
  - tip

before_install:
  - docker pull jenkins:1.651.1
  - docker run -d -p 8080:8080 jenkins
  - sleep 30
  - docker ps -a

install:
  - go get github.com/stretchr/testify/assert
